{{>header}}


 <section id="vak-4">
<div class="slideContainer">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
  <div class="cards">
    <label class="card" for="item-1" id="song-1">
      <img src="uploads/inosuke.png" alt="song">
    </label>
    <label class="card" for="item-2" id="song-2">
       <img src="uploads/luffy.jpg" alt="song">
    </label>
    <label class="card" for="item-3" id="song-3">
      <img src="uploads/luffy-mad.jpg" alt="song">
    </label>
  </div>
 </section> 



